.badge{
    margin-right: 3px;
    white-space: normal;
}

.badge-info {
    color: #fff;
    background-color: #6CC3D5;
    border: 1px solid #6CC3D5;
}

.badge-unselected {
    color: #444;
    background-color: #f8f9fa;
    border: 1px solid silver;
}

.badge-container{
    line-height: 1.4;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.25rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
